
.scheduler {
   margin: 12vh auto 80px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   text-align: center;
}
.scheduler-logo {
   position: absolute;
}
#scheduler-frame {
   overflow: visible;
}
.scheduler-title {
   font-weight: 200;
   font-size: 2em;
   margin: 10px auto;
   color: #333333;
}
.scheduler .step-pane {
   border-radius: 6px;
}

.loading {
   font-size: 1.5em;
   letter-spacing: 0.1em;
   color: #555555;
   font-weight: 100;
   margin-top: 120px;
}