<div class="scheduler">
   <h2 class="scheduler-title">Book a Session!</h2>
   <!-- <img src="../../../assets/logoandbrand/business_logo_small.png" alt="Soar With Barbie" class="scheduler-logo"> -->
   <div class="loading" *ngIf="loading">Loading...</div>
   <iframe 
      id="scheduler-frame" 
      src="https://app.acuityscheduling.com/schedule.php?owner=20927283" 
      width="100%" 
      [style.height.px]="height"
      (load)="handleLoad()"
      frameBorder="0"
   ></iframe>
   <script src="https://embed.acuityscheduling.com/js/embed.js" type="text/javascript"></script>
</div>