<div class="header">
    <div class="header-title"><a [routerLink]="['/']">Soar with Barbie</a></div>
    <nav class="header-nav">
        <ul class="nav-list">
            <li class="nav-item"><a [routerLink]="['/about']">About Me</a></li>
            <li class="nav-item"><a [routerLink]="['/services']">Services</a></li>
            <li class="nav-item"><a [routerLink]="['/contact']">Contact Me</a></li>
            <li class="nav-item"><a [routerLink]="['/testimonials']">Testimonials</a></li>
            <li class="nav-item"><a [routerLink]="['/theta-healing']">ThetaHeadling&#174;</a></li>
        </ul>
    </nav>
</div>