<div class="header">
    <div class="header-title"><a [routerLink]="['/']">Soar with Barbie</a></div>
    <nav class="header-nav">
        <ul class="nav-list">
            <li class="nav-item"><a [routerLink]="['/services']" routerLinkActive="nav-item-active" >Services</a></li>
            <li class="nav-item"><a [routerLink]="['/theta-healing']" routerLinkActive="nav-item-active" >Theta Headling</a></li>
            <li class="nav-item"><a [routerLink]="['/bookings']" routerLinkActive="nav-item-active" >Book a Session</a></li>
        </ul>
    </nav>
</div>