/* Bio  */

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12px;
}
.about-bio {
    margin: 40px 0;
}
.about-title {
    text-align: center;
    font-size: 2.4em;
    font-weight: 200;
}
.bio-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2), 4px 4px 12px rgba(0,0,0,0.1);
}
.bio-avatar {
    width: 240px;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2), 4px 4px 12px rgba(0,0,0,0.1);
    margin: 0 20px 40px;
}
.bio-title {
    font-weight: 300;
    font-size: 1.2em;
    padding: 0 20px;
}
.bio-description p {
    line-height: 24px;
    font-weight: 200;
    font-size: 1.1em;
    padding: 0 20px;
}
.bio-description span {
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 32px;
}
.bio-signature {
    width: 100%;
    max-width: 350px;
    height: auto;
}

@media only screen and (max-width: 1000px) {
    .bio-avatar {
        margin: 20px 0;
    }
    .about-bio {
        padding: 0 20px;
    }
    .bio-content {
        flex-direction: column;
        padding: 20px;
    }
    .bio-description span {
        font-weight: 300;
        letter-spacing: 0em;
        line-height: 32px;
    }
    .bio-signature {
        margin-left: 20px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 650px) {
    .about-bio {
        padding: 0;
    }
    .bio-content {
        padding: 0;
    }
    .bio-description {
        padding: 0;
    }
    .bio-signature {
        max-width: 300px;
    }
}