<div id="about" class="about-me">
	<div class="about-bio">
		<h3 class="about-title">About Me</h3>
		<div class="bio-content">
			<img src="../../../../assets/images/Barbara-Perez-bw.png" alt="Barbara Perez" class="bio-avatar">
			<div class="bio-description">
				<div class="bio-title">BARBARA PEREZ | SPIRITUAL COACH AND THETA HEALER&#174;</div>
				<p>
					The journey of life is filled with surprises, challenges, good times and not so great times. The most important lesson I have learned so far in my journey is to remember that we are
					spiritual beings that came here to have a physical experience and we must trust the process of life. If we can learn to live in a state of 100% certainty that no matter what is
					happening at the present moment there is a bigger picture and lesson to be learned, life will begin to effortlessly bend in our favor. Energy can always be changed to bring about a
					resolution or better feeling. We must be conscious and remember not to resist life’s flows, but rather welcome them as we come to understand that there is a loving universal energy that
					will support us if we let it.
				</p>
				<img src="../../../../assets/logoandbrand/Signature.png" alt="" class="bio-signature">
			</div>
		</div>
	</div>
	<div id="services" class="about-services">
		<h3 class="services-title">My Services</h3>
		<img src="../../../../assets/images/Barbie_sq.png" class="services-img">
	</div>
</div>