<div id="about" class="about-me">
	<div class="about-bio">
		<h3 class="about-title">About Me</h3>
		<div class="bio-content">
			<img src="../../../../assets/images/Barbara-Perez-bw.png" alt="Barbara Perez" class="bio-avatar">
			<div class="bio-description">
				<div class="bio-title">BARBARA PEREZ | SPIRITUAL COACH & THETA HEALER&#174;</div>
				<p>
				
					I am a Certified ThetaHealer® in Basic DNA, Advanced DNA, Dig Deeper, You and God, Manifesting and Abundance, Game of Life, Rhythm to a perfect weight and Intuitive Anatomy. Using my intuitive
					connection to source energy I specialize in clearing limiting beliefs that have been passed on to us or were created through trauma and abuse. My spiritual path began 12+ years ago, attending
					seminars with Deepak Chopra, Wayne Dyer, Mike Dooley, Louise Hay, Abraham Hicks and more. I pride myself in being a compassionate and nurturing practitioner that provides a safe and secure
					space for growth and healing.
				</p>
				<img src="../../../../assets/logoandbrand/Signature.png" alt="" class="bio-signature">
			</div>
		</div>
	</div>
</div>