/* Bio  */

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-bio {
    margin: 40px 0;
}
.about-title {
    text-align: center;
    font-size: 2.4em;
    font-weight: 200;
}
.bio-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    padding: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2), 4px 4px 12px rgba(0,0,0,0.1);
}
.bio-avatar {
    width: 240px;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2), 4px 4px 12px rgba(0,0,0,0.1);
    margin: 0 20px 40px;
}
.bio-title {
    font-weight: 300;
    font-size: 1.2em;
    padding-left: 20px;
}
.bio-description p {
    line-height: 24px;
    font-weight: 200;
    font-size: 1.1em;
    padding-left: 20px;
}
.bio-signature {
    width: 350px;
    height: auto;
}

/* Services */

.about-services {
    margin: 40px 0;
    padding: 60px;
    width: 100%;
    min-height: 600px;
    background-color: #fff0c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.services-title {
    text-align: center;
    font-size: 2.4em;
    font-weight: 200;
}