.contact-me {
    width: 100%;
    padding: 40px 0 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

/* Contact Info Section  */

.contact-section {
    margin: 10px 50px;
}
.contact-title {
    text-align: center;
    font-size: 2.4em;
    font-weight: 200;
}
.contact-content {
    display: flex;
    flex-direction: column;
}
.contact-img {
    width: 400px;
    height: auto;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2), 3px 3px 6px rgba(0,0,0,0.1);
}
.contact-details {
    width: 400px;
    margin-top: 20px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2D484F;
    opacity: 0.6;
    transition: opacity 0.2s;
    text-decoration: none;
}
.contact-link:hover {
    opacity: 1;
    transition: opacity 0.2s;
}
.contact-link i {
    height: 36px;
    text-align: center;
}
.contact-link span {
    width: 100px;
    padding-left: 10px;
}

/* Message Section  */

.message-section {
    margin: 0 50px;
}
.message-label {
    font-weight: 200;
    font-size: 1.4em;
    margin-bottom: 10px;
    text-align: left;
}
.message-form {
    display: flex;
    flex-direction: column;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.input-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.message-input {
    width: 400px;
    height: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    font-weight: 100;
    font-size: 1em;
    margin: 2px;
}
.message-input:focus {
    outline: none;
}
textarea.message-input {
    height: 100px;
}
.send-btn {
    width: 100%;
    font-weight: 100;
    color: #123d44;
    background-color: #ffecc4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;
    margin-top: 2px;
    font-weight: 100;
    font-size: 1em;
    transition: 0.1s;
}
.send-btn:hover {
    cursor: pointer;
}
.send-btn:disabled {
    cursor: default;
    background-color: #eee;
    color: #777
}

@media only screen and (max-width: 600px) {
    .contact-me {
        flex-direction: column;
    }
    .message-label {
        width: 100%;
        text-align: center;
    }
}