* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: #e2eff2;
}