<div class="theta-healing">
    <div class="theta-content">
        <h4 class="theta-title">What is the ThetaHealing® technique?</h4>
        <div class="theta-info">
            <img class="theta-rocks-img" src="../../../assets/images/rock-stack.jpeg">
            <div class="theta-description">
                <p>The ThetaHealing meditation technique was created by Vianna Stibal in 1995 during her own personal journey back to health.  Her original book details her personal healing journey and her connection to the Creator utilizing her meditation technique. </p>
                <p>The ThetaHealing technique is a meditation technique utilizing a spiritual philosophy with the purpose of improvement in mind, body and spirit while getting closer to the Creator of All That Is. It is a focused prayer to the Creator and allows you to train your mind, body and spirit to clear limiting beliefs and live life with positive thoughts, developing virtues in all that we do. Through meditation and prayer, the ThetaHealing Technique creates a positive lifestyle.</p>
                <p>The ThetaHealing technique is always taught to be used in conjunction with conventional medicine. It teaches how to put to use one's own natural intuition, relying upon unconditional love of Creator Of All That Is to do the actual “work.” We believe by focused prayer utilizing a “Theta” and "delta" brainwave (incorporating physics and quantum physics), you can actually witness the Creator Of All That Is create instantaneous physical and emotional wellbeing. We have learned that through the ThetaHealing Technique intuitive abilities can be used to bring about spontaneous changes and physical and emotional wellbeing.</p>
            </div>
        </div>
        <div class="theta-learn-more">
            <p>To Learn more about the ThetaHealing technique, visit <a class="theta-link" href="https://www.thetahealing.com/" target="_blank">www.thetahealing.com</a></p>
        </div>
    </div>
</div>