<div class="footer">
    <div class="dev-notes">Developed by <a class="clay" href="https://www.facebook.com/soarwithbarbie/" target="_blank">claytoncodes.com</a></div>
    <div class="copyright">Soar with Barbie, LLC</div>
    <div class="social-media-icons">
        <a class="social-icon" href="https://www.facebook.com/soarwithbarbie/" target="_blank">
            <i class="fab fa-2x fa-facebook"></i>
        </a>
        <a class="social-icon" href="https://www.instagram.com/soarwithbarbie/" target="_blank">
            <i class="fab fa-2x fa-instagram"></i>
        </a>
        <a class="social-icon" href="https://www.youtube.com/channel/UCO50R6Llp75N91kXcXTphhA/" target="_blank">
            <i class="fab fa-2x fa-youtube"></i>
        </a>
    </div>
</div>