/* coming soon styles */
.coming-soon {
    margin-top: 10vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.coming-soon h2 {
    font-weight: 100;
    font-size: 72px;
    margin: 0;
}
.coming-soon img {
    height: 400px;
    width: auto;
}
.coming-soon h4 {
    font-weight: 100;
    font-size: 32px;
    margin: 0;
}

/* contact styles */
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contact-link i {
    color: #2D484F;
    opacity: 0.5;
    margin: 32px 16px 0;
    transition: opacity 0.2s;
}
.contact-link i:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

/* media queries */
@media only screen and (max-width: 600px) {
    .coming-soon h2 {
        font-size: 36px;
    }
    .coming-soon img {
        height: 300px;
        width: auto;
    }
    .coming-soon h4 {
        font-size: 24px;
    }
}