<div class="coming-soon">
    <h2>Soar With Barbie</h2>
    <img src="../assets/logoandbrand/logo_small.png" alt="Soar With Barbie">
    <h4>Coming Soon...</h4>
    <div class="contact">
        <a class="contact-link" href="https://www.facebook.com/soarwithbarbie/" target="_blank">
            <i class="fab fa-2x fa-facebook"></i>
        </a>
        <a class="contact-link" href="https://www.instagram.com/soarwithbarbie/" target="_blank">
            <i class="fab fa-2x fa-instagram"></i>
        </a>
        <a class="contact-link" href="https://www.youtube.com/channel/UCO50R6Llp75N91kXcXTphhA/" target="_blank">
            <i class="fab fa-2x fa-youtube"></i>
        </a>
    </div>
</div>